<div class="col-md-12">
  <form action="/" method="post" class="snippet-form">
  <input type="hidden" name="saveaction" class="saveAction" value="">
  <input type="hidden" name="snippet_id" value="<% IF snippet %><% snippet.snippet_id %><% END %>">
  <% IF success_msg %><div class="alert alert-success"><% success_msg %></div><% END %>
  <div class="col-md-6">
    <div class="code-panel js-panel">
      javascript
    </div>
    <div id="js-editor" class="editor"><% IF snippet %><% snippet.javascript.code %><% END %></div>
    <textarea class="hidden js-text" name="js"></textarea>
  </div>
  <div class="col-md-6">
    <div class="code-panel css-panel">
      css
    </div>
    <div id="css-editor" class="editor"><% IF snippet %><% snippet.css.code %><% END %></div>
    <textarea class="hidden css-text" name="css"></textarea>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="code-panel html-panel">
          html
        </div>
        <div id="html-editor" class="editor"><% IF snippet %><% snippet.html.code %><% END %></div>
        <textarea class="hidden html-text" name="html"></textarea>
      </div>
      <div class="col-md-6">
        <div class="well">
          <a href="javascript:;" class="btn btn-primary run-code"><i class="fa fa-youtube-play"></i> Run</a>
          <% IF snippet %>
          <div class="btn-group">
            <a href="<% c.uri_for(c.controller.action_for('view'), [ snippet.snippet_id, 'full' ]) %>" class="btn btn-danger" target="_blank"><i class="fa fa-eye"></i> View</a>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:viewDevice('<% c.uri_for(c.controller.action_for('view'), [ snippet.snippet_id, '601x881' ]) %>', 601, 881);">Nexus 7 Portrait</a></li>
              <li><a href="javascript:viewDevice('<% c.uri_for(c.controller.action_for('view'), [ snippet.snippet_id, '962x529' ]) %>', 962, 529);">Nexus 7 Landscape</a></li>
              <li class="divider"></li>
              <li><a href="javascript:viewDevice('<% c.uri_for(c.controller.action_for('view'), [ snippet.snippet_id, '320x460' ]) %>', 320, 460);">iPone 5 Portrait</a></li>
              <li><a href="javascript:viewDevice('<% c.uri_for(c.controller.action_for('view'), [ snippet.snippet_id, '568x212' ]) %>', 568, 212);">iPone 5 Landscape</a></li>
            </ul>
          </div>
          <% END %>
          <a href="javascript:;" class="btn btn-<% IF snippet %>default<% ELSE %>success<% END %> fork-code"><i class="fa <% IF snippet %>fa-code-fork<% ELSE %>fa-save<% END %>"></i> <% IF snippet %>Fork<% ELSE %>Save<% END %></a>
          <% IF snippet %><a href="javascript:;" class="btn btn-success save-code"><i class="fa fa-save"></i> Save</a><% END %>
          <div class="btn-group">
            <button type="button" class="btn btn-warning"><i class="fa fa-tint"></i> Theme</button>
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:;" class="select-theme" data-value="monokai">Monokai</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="github">Github</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="terminal">Terminal</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="clouds">Clouds</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="tomorrow">Tomorrow</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="mono_industrial">Mono Industrial</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="dreamweaver">Dreamweaver</a></li>
              <li><a href="javascript:;" class="select-theme" data-value="textmate">TextMate</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="code-panel preview-panel">Preview</div>
    <div class="preview-wrapper">
      <iframe src="javascript:;" id="html-preview">
        Your browser does not support iframes, hence this won't work.
      </iframe>
    </div>
  </div>
</div>

<script type="text/javascript">
  var css     = ace.edit("css-editor"),
      js      = ace.edit("js-editor"),
      html    = ace.edit("html-editor"),
      url     = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: ''),
      runCode = $('.run-code'),
      forkCode = $('.fork-code'),
      saveCode = $('.save-code'),
      snipForm = $('.snippet-form'),
      selectTheme = $('.select-theme'),
      preview = $('#html-preview');
  
  css.setTheme("ace/theme/dreamweaver");
  js.setTheme("ace/theme/dreamweaver");
  html.setTheme("ace/theme/dreamweaver");
  css.getSession().setMode("ace/mode/css");
  js.getSession().setMode("ace/mode/javascript");
  html.getSession().setMode("ace/mode/html");
  
  css.renderer.setShowGutter(false);
  js.renderer.setShowGutter(false);
  html.renderer.setShowGutter(false);
  
  var startIt = function() {
    var body = "<!doctype html><html lang=\"en\">";
    body    += "<head><link rel=\"stylesheet\" href=\"" + url + "/static/css/bootstrap.min.css\">";
    body    += "<script type=\"text/javascript\" src=\"" + url + "/static/js/jquery.min.js\"><\/script>";
    body    += "<script type=\"text/javascript\" src=\"" + url + "/static/js/bootstrap.min.js\"><\/script>";
    body    += "<style type=\"text/css\">" + css.getValue() + "<\/style>";
    body    += "<\/head><body>" + html.getValue();
    body    += "<script type=\"text/javascript\">" + js.getValue() + "<\/script><\/body><\/html>";

    var idoc = preview[0].contentDocument;
    idoc.open();
    idoc.writeln("");
    idoc.write(body);
    idoc.close();
  };
  
  runCode.click(function() { startIt(); });
  
  forkCode.click(function() {
    $('.html-text').text(html.getValue());
    $('.css-text').text(css.getValue());
    $('.js-text').text(js.getValue());
    snipForm.submit();
  });
  
  saveCode.click(function() {
    $('.html-text').text(html.getValue());
    $('.css-text').text(css.getValue());
    $('.js-text').text(js.getValue());
    $('.saveAction').val("save");
    snipForm.submit();
  });
  
  selectTheme.click(function() {
    var theme = $(this).attr("data-value");
    html.setTheme("ace/theme/" + theme);
    js.setTheme("ace/theme/" + theme); 
    css.setTheme("ace/theme/" + theme); 
  });
 
  startIt();
  
  function viewDevice(url, width, height) {
    var left = (screen.width/2)-(width/2);
    var top = (screen.height/2)-(height/2);
    popupWindow = window.open(
      url,
      'popUpWindow',
      'height=' + height + ',width=' + width + ',left=' + left + ',top=' + top + ',resizable=no,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=no');
  }
</script>
