<div class="container">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bootly</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Most Recent <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <% IF recent %>
                <% FOREACH snip IN recent %>
                <li><a href="/<% snip.snippet_id %>"><% snip.snippet_id %> (<% snip.created.dmy %> @ <% snip.created.hms(':') %>)</a></li>
                <% END %>
              <% ELSE %>
                <li>No recent snippets</li>
              <% END %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
